<div id="history_report" class="padding-10">
    <h4>Timesheet History Report</h4>
    <div>
        <table id="employee_overview" class="table-style1">
            <tr><td class="font-bold">Employee Name</td><td>{{employee.firstname}} {{employee.lastname}}</td></tr>
            <tr><td class="font-bold">Employee ID Number</td><td>{{employee.empid}}</td></tr>
        </table>
        <table id="pay-period-table">
            <thead>
            <tr>
                <th>Employee ID</th>
                <th align="center">Employee Name</th>
            </tr>
         </thead>
        </table>
            <div ng-repeat="supervisee in employee.supervisees">
                <div ng-repeat="emp in supervisorEmployees">
                    <div ng-if="supervisee == emp.empid">
                                 <p class="font-bold"><a style=" min-width: 400px "  ng-click="getDetails(supervisee,emp.latestYearWorked)">{{supervisee}}</a>
                                 <a style="margin-left: 400px " ng-click="getDetails(supervisee, emp.latestYearWorked)">{{emp.firstname}} {{emp.lastname}}</a></p>
                    </div>
                </div>
            </div>
    </div>
</div>