/*General*/

@media print{
    body{
        zoom:75%;
    }
 }

h1,h2,h3,h4,h5,h6{
    color: #990000;
}

ul {
    list-style-type: none;
}

a:hover{
    text-decoration:underline;
}

.inline{
    display:inline;
}

.padding-10{
    padding:10px;
}

.width-15p{
    width:15%;
}

.width-10p{
   width:10%;
}

.width-25p{
    width:25%;
}

.width-35p{
    width:35%;
}

.font-normal{
    font-weight:normal;
}

.font-bold{
    font-weight:bold;
}

.right-align{
    float:right;
}

.border-none{
    border: none;
}

.bottom-border{
    border-bottom:groove;
    border-bottom-width:2px;
}

.border-collapse-separate{
    border-collapse:separate;
}

.padding-left-none{
    padding-left:0px;
}

.padding-right-none{
    padding-right:0px;
}

.padding-left-30{
    padding-left:30px;
}

.table-style1{
    border-collapse: inherit;
    border-width: 2px;
    border-style: groove;
    border-color:gainsboro;
}

.tfoot-border{
    border-top: grey;
    border-top-style: solid;
    border-top-width: 1px;
}

/*View Specific*/

#login{
    vertical-align: middle;
    padding-top:10%;
    /*background-color:#990000;
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;*/
}

#employee_overview tr td, #overview tr td{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
}

#year_selector {
    max-width: 100px;
}

#pay-detail-week input, #pay-detail-week2 input{
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 25px;
    max-width:100px;
}

#pay-period-table{
    max-width:1200px;
    min-width:955px;
}

#pay-period-table thead, #pay-detail-week thead, #pay-detail-week2 thead, #supervisor-employees thead{
    background-color: #990000;
    color: #FFCC00;
}

#pay-period-table #period-dates a, #supervisor-employees #employee-names a{
    color: #990000;
}

#pay-detail-week, #pay-detail-week2, #overview{
    min-width:1200px;
    max-width:1330px;
    margin-left:0px;
}